{% extends "base.html" %}


{% block navbar %}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/predict">Predict</a></li>
    <li><a href="/board">Sniffer Board</a></li>
    <li><a href="/job">More Stuff</a></li>
    <li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="jumbotron row-fluid">
    <form name="predict-form" class="form" method="POST" action="{{ url_for('predict.analyze') }}">
        <input type="input" name='crunch_id' class="input-large" placeholder='Input Company'></input>
        <label>Example: gameloft, cardstar, etc.</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="span5">
    <div class="well">
        <h2 class="muted">{{ company.name }}</h2>
        <p>
            <span class="label">{{ company.category }}</span>
        </p>
        <p>URL: <a href="{{ company.url }}">{{ company.url }}</a></p>
        <p>{{ company.desc }}</p>
        <p><img src="http://www.crunchbase.com/{{ company.img }}"/><p>
        <ul>
        {% for tag in company.tags.split(",") %}
            <li>{{ tag }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="span5">
    <h2>Probability of IPO/Acquired: {{ prob }}</h2>
</div>

{% endblock %}

