{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/predict">Predict</a></li>
        <li><a href="/board">Sniffer Board</a></li>
        <!--<li><a href="/job">Job</a></li>-->
        <li><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="hero-unit faq" style='margin-top:10px'>
    <div class="ac">
        <form id="predict-form" method="post" action="{{ url_for('predict.analyze') }}">
            <h2>Startup Outcome Prediction</h2>
            <p>Input company, for example: kaggle, hulu, decide-com, fitfu etc.</p>
            <input type="text" autocomplete="off" placeholder="Type Company ..." id="crunch-id" name="crunch-id"
                data-provide="typeahead" data-items="4"
                data-source='{{comp_json}}'>
            <a type="" class="search_button btn btn-success" onclick="formSubmit()">
                <i class="icon-search icon-white"></i>
            </a>
        </form>
    </div>
</div>

<div class="row">
    <div class="span20">
        <div>
            {% for record in records %}
            <a href="#"><img src="{{record.logo_url}}" width="80" height="80"></a>
            {% endfor %}
        </div>
    </div>
</div>

<div style="margin-bottom:150px"></div>

{% endblock %}

{% block endscript %}
<script>
    function formSubmit()
    {
        document.getElementById("predict-form").submit();
        return false;
    }
</script>
{% endblock %}

