{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/predict">Predict</a></li>
        <li><a href="/board">Sniffer Board</a></li>
        <li><a href="/job">Job</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="hero-unit faq">
    <div class="ac">
        <form id="predict-form" method="post" action="{{ url_for('predict.analyze') }}">
            <h1>Startup Outcome Prediction</h1>
            <p>Input company, for example: kaggle, hulu, decide-com, etc.</p>
            <input type="text" autocomplete="off" autocomplete="off" placeholder="Type Company ..." id="crunch-id" name="crunch-id"
                data-provide="typeahead" data-items="4"
                data-source='{{comp_json}}'>
            <a type="" class="search_button btn btn-success" onclick="formSubmit()">
                <i class="icon-search icon-white"></i>
            </a>
            <!--<input type="submit" class="search_button btn btn-success" /> -->
        </form>
    </div>
</div>

{% endblock %}

{% block endscript %}
<script>
    function formSubmit()
    {
        document.getElementById("predict-form").submit();
        return false;
    }
</script>
{% endblock %}

