{% extends "base.html" %}


{% block navbar %}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/predict">Predict</a></li>
    <li><a href="/board">Sniffer Board</a></li>
    <li><a href="/job">Job</a></li>
    <li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="jumbotron row-fluid">
    <form name="predict-form" class="form" method="POST" action="{{ url_for('predict.analyze') }}">
        <input type="input" name='crunch_id' class="input-large" placeholder='Input Company'></input>
        <label>Example: gameloft, cardstar, etc.</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
