{% extends "base.html" %}

{% block extra %}
<div id="carousel" class="carousel slide" rel="carousel">
    <div class="carousel-inner">
        <div class="active item">
            <h1 class="alt">DATA SCIENCE FOR Venture Capital</h1>
            <img src="/static/img/city.jpg"/>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="hero-unit" style="text-align:center;">
    <h1>Interested?</h1>
    <a class="btn btn-large btn-success" href="/predict">Get Started!</a>
</div>

{% endblock %}

