{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/predict">Predict</a></li>
        <li><a href="/board">Leaderboard</a></li>
        <!--<li><a href="/job">Job</a></li>-->
        <li><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="hero-unit faq">
    <div class="ac">
        <form id="predict-form" method="post" action="{{ url_for('analyze') }}">
            <h2>Startup Outcome Prediction</h2>
            <p>Input company, for example: hulu, decide.com, Nambii, etc.</p>
            <input type="text" autocomplete="off" placeholder="Type Company ..." id="crunch-id" 
                name="crunch-id" data-provide="typeahead" data-items="4" data-source='{{comp_json}}'>
            <a type="" class="search_button btn btn-success" onclick="formSubmit()">
                <i class="icon-search icon-white"></i>
            </a>
        </form>
    </div>
</div>

<hr />

<div class="span5">
    <div class="well">
        <h2 class="muted">{{ company.name }}</h2>
        <p>
            <span class="label">{{ company.category }}</span>
        </p>
        <p>URL: <a href="{{company.url}}" target="_blank">{{ company.url }}</a></p>
        <p>{{ company.desc }}</p>
        <p><img src="http://www.crunchbase.com/{{ company.img }}" height="50" width="100" /><p>
        {% if company.tags %}
            <ul>
            {% for tag in company.tags.split(",") %}
                <li>{{ tag }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<div class="span6">
    <h2>Probability of IPO/Acquired: {{prob}}</h2>
    <div class="span5 progress progress-success active">
        <div class="bar" style="width: {{prob}};"></div>
    </div>
    <!--
    <div class="span5">
        <h3>Total money raised: ${{ com_record.total_money_raised }}</h3>
    </div>
    -->
</div>


{% endblock %}

{% block endscript %}
<script>
    function formSubmit()
    {
        document.getElementById("predict-form").submit();
        return false;
    }
</script>
{% endblock %}

