{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li class="active"><a href="/board">Leaderboard</a></li>
        <!--<li><a href="/job">Job</a></li>-->
        <li><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs" style="margin-top:20px">
    <li class="active">
        <a href="#fame-board" data-toggle="tab">Fame Leaderboard</a>
    </li>
    <li>
        <a href="#trend-board" data-toggle="tab">Trend Leaderboard</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="fame-board">
        <div class="hero-uni faq">
            <div class="well">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Angellist Quality</th>
                            <th>Angellist Follower</th>
                            <th>Twitter Follower</th>
                            <th>Bitly Click</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in ranked_list %}
                            <tr>
                                <td><img src="{{record[1]['data'][5]}}" width="45" height="45" /></td>
                                <td><a href="/startup/{{record[0]}}">{{record[1]['data'][0]}}</a></td>
                                <td>{{record[1]['data'][1]}}</td>
                                <td>{{record[1]['data'][2]}}</td>
                                <td>{{record[1]['data'][3]}}</td>
                                <td>{{record[1]['data'][4]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="tab-pane" id="trend-board">
        <div class="hero-uni faq">
            <div class="well">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Angellist Quality</th>
                            <th>Angellist Follower</th>
                            <th>Twitter Follower</th>
                            <th>Bitly Click</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in trend_list %}
                            <tr>
                                <td><img src="{{ record[1]['data'][5]}}" width="45" height="45" /></td>
                                <td><a href="/startup/{{record[0]}}">{{ record[1]['data'][0] }}</a></td>
                                <td>{{ record[1]['data'][1] }}</td>
                                <td>{{ record[1]['data'][2] }}</td>
                                <td>{{ record[1]['data'][3] }}</td>
                                <td>{{ record[1]['data'][4] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

