{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/board">Leaderboard</a></li>
        <!--<li><a href="/job">Job</a></li>-->
        <li><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div style="text-align:center; margin-top:10px;">

    <iframe src="http://www.slideshare.net/slideshow/embed_code/24003471" width="597" height="486" frameborder="0"
        marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px
        0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> 
    </iframe> 
    <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/wzhangdavid/startupsniffer-24003471"
                title="startupsniffer" target="_blank">startupsniffer</a> </strong> from <strong><a
                href="http://www.slideshare.net/wzhangdavid" target="_blank">Wei Zhang</a></strong> 
    </div>
</div>
{% endblock %}
