{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/board" class="active">Sniffer Board</a></li>
        <li><a href="/job">Job</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="hero-unit faq" style='margin-top:10px'>
    <div class="ac">
            <h2>Startup Leaderboard</h2>
    </div>

    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Startup</th>
                    <th>Startup</th>
                    <th>Startup</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.ALCompany.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
