{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li class="active"><a href="/board">Leaderboard</a></li>
        <!--<li><a href="/job">Job</a></li>-->
        <li><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}


{% block content %}

<div id="chart" style="height: 500px;">
    <svg></svg>
</div>

<div class="span5 well">
    <div class="row">
        <div class="span1">
            <a href="{{al_com.company_url}}" target="_blank" class="thumbnail"><img src="{{al_com.logo_url}}"></a>
        </div>
        <div class="span3">
            <h4><strong>{{al_com.name}}</strong></h4>
            <p></p>
            <span class="badge badge-warning">{{al_com.categories}}</span> 
            <p></p>
            <span class="badge badge-info">{{al_com.company_type}}</span>
        </div>
    </div>
</div>

{% endblock %}


{% block endscript %}

<script>
var data = {{data|tojson|safe}};

nv.addGraph(function() {
  var chart = nv.models.cumulativeLineChart()
                .x(function(d) { return d[0] })
                .y(function(d) { return d[1]/100 }) //adjusting, 100% is 1.00, not 100 as it is in the data
                .color(d3.scale.category10().range());

  chart.xAxis
      .tickFormat(function(d) {
        return d3.time.format('%x')(new Date(d))
      });

  chart.yAxis
      .tickFormat(d3.format(',.1%'));

  d3.select('#chart svg')
      .datum(data)
    .transition().duration(500)
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;
});
</script>

{% endblock %}

