{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/board">Sniffer Board</a></li>
        <li><a href="/job">Job</a></li>
        <li class='active'><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Wei Zhang</h1>
    <p>
        <h2>I make awesome data products!</h2>
    </p>
    <p>
        Bio: Wei Zhang, Ph.D Candidate, Department of Computer Science and Engineering, University of Notre Dame.
    </p>
</div>

<hr />


<div>
    <p>
        Startup Sniffer is incubated from <a href="http://insightdatascience.com/">InsightDataScience</a> in 2013.
    </p>

    <p>
        Interested in the source codes or want to contribute? 
        <a href='https://github.com/Pthinker/startup_sniffer'>Check it out on Github!</a>
    </p>

    <p>
        bla bla bla...
    </p>
    <p>
        bla bla bla...
    </p>
</div>
{% endblock %}

