{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/board">Leaderboard</a></li>
        <!--<li><a href="/job">Job</a></li>-->
        <li class='active'><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="row" style="margin-top:20px">
    <div class="span3">
        <div class="well sidebar-nav">
            <img src="/static/img/me.jpg" alt="Wei Zhang" class="border" width="200" height="500"/>
            <p></p>
        </div>
    </div>
    <div class="span9">
        <h2>Wei Zhang</h2>
        <h3>I make awesome data products!</h3>
        <p>
            Bio: Ph.D Candidate, Department of Computer Science and Engineering, University of Notre Dame. My research
            focuses on data mining and bioinformatics.
        </p>
        <p>
            StartupSniffer is incubated from <a href="http://insightdatascience.com/">InsightDataScience</a> in 2013.
            The first tool is a predictive model using Random Forest classification to predict startup outcome
            (IPO/acquired) using crunchbase.com data. The second tool is a leaderboard for more than 1,000 early
            stage startups. Ranking is based on twitter, bitly.com and Angellist data. 
        </p>

        <p>
            Interested in the source codes or want to contribute? 
            <a href='https://github.com/Pthinker/startup_sniffer' target='_blank'>Check it out on Github!</a>
        </p>

    </div>
</div>
<hr />
<div style="text-align:center">
    <iframe src="http://www.slideshare.net/slideshow/embed_code/23772494" width="512" height="421" frameborder="0"
        marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px
        0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div
        style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/wzhangdavid/insightstartupsniffer"
                title="Insight_startupsniffer" target="_blank">Insight_startupsniffer</a> </strong> from <strong><a
                href="http://www.slideshare.net/wzhangdavid" target="_blank">Wei Zhang</a></strong> </div>
</div>
{% endblock %}

