{% extends "base.html" %}

{% block navbar %}
<div class="nav-collapse">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/board">Sniffer Board</a></li>
        <li><a href="/job">Job</a></li>
        <li class='active'><a href="/about">About</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div style="text-align:center;margin-top:10px">
    <iframe src="http://www.slideshare.net/slideshow/embed_code/23441534?rel=0" width="597" height="486" frameborder="0"
        marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px
        0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div
        style="margin-bottom:5px"> <strong></div>
</div>
<div class="row" style="margin-top:50px">
    <div class="span4">
        <div class="well sidebar-nav">
            <img src="/static/img/me.jpg" alt="Wei Zhang" class="border"/>
            <p></p>
        </div>
    </div>
    <div class="span8">
        <h1>Wei Zhang</h1>
        <p>
            <h2>I make awesome data products!</h2>
        </p>
        <p>
            Bio: Wei Zhang, Ph.D Candidate, Department of Computer Science and Engineering, University of Notre Dame.
        </p>
        <p>
            Startup Sniffer is incubated from <a href="http://insightdatascience.com/">InsightDataScience</a> in 2013.
        </p>

        <p>
            Interested in the source codes or want to contribute? 
            <a href='https://github.com/Pthinker/startup_sniffer'>Check it out on Github!</a>
        </p>

        <p>
            bla bla bla...
        </p>
        <p>
            bla bla bla...
        </p>
    </div>
</div>

<hr />

{% endblock %}

